<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <h1>Movie Critic</h1>
      <form>
        <span class="imdb">IMDB</span>
        <span class="metascore">Metascore</span>
        <select>
          <option value="imdb">IMDB score</option>
          <option value="metascore">Metascore</option>
          <option value="difference">Difference</option>
          <option value="year">Year</option>
          <option value="title">Title A - Z</option>
        </select>
      </form>
    </header>

    <svg></svg>

  </body>
  <script src="javascripts/d3.min.js"></script>
  <script src="javascripts/data.js"></script>
  <script src="javascripts/movie-critic.js"></script>
</html>
